<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ydhnwb.paperlessapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.detail_order_activity.DetailOrderActivity"
            android:label="@string/title_activity_detail_order"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.analytic_activity.AnalyticActivity"
            android:label="@string/title_activity_analytic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.store_page_activity.StorePageActivity"
            android:label="@string/title_activity_store_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DetailProductActivity"
            android:label="@string/title_activity_detail_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.catalog_activity.CatalogActivity"
            android:label="@string/title_activity_catalog"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ShowQRActivity" />
        <activity
            android:name=".activities.invitation_activity.InvitationActivity"
            android:label="@string/title_activity_invitation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.search_user_activity.SearchUserActivity"
            android:label="@string/title_activity_search_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ScannerActivity" />
        <activity
            android:name=".activities.checkout_activity.CheckoutActivity"
            android:label="@string/title_activity_checkout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.product_activity.ProductActivity"
            android:label="@string/title_activity_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.store_activity.CreateStoreActivity"
            android:label="@string/title_activity_create_store"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ResetPasswordActivity"
            android:label="@string/title_activity_reset_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.manage_activity.ManageActivity"
            android:label="@string/title_activity_manage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.register_activity.RegisterActivity" />
        <activity android:name=".activities.IntroActivity" />
        <activity android:name=".activities.login_activity.LoginActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>